$openSans: 'Open Sans', sans-serif;

$playFair: 'Playfair Display SC', serif;

$colorDark: #3F3F3F;
$colorLight: #FBFBF2;
$textColorDark: #000000;

@mixin high-shadow() {
  box-shadow: 0  2px 2.5px 0 rgba(0, 0, 0, 0.5);
}
[cover] {
  height: 100vh;
}

[center] {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


body, html {
  margin: 0;
  padding: 0;
  font-family: $openSans;
  width: 100%;
  overflow-x: hidden;
}

body {
  scroll-behavior: smooth;
}

#nav {
  @include high-shadow;

  height: 64px;
  width: 100%;
  z-index: 2;

  display: flex;
  justify-content: space-around;
  align-items: center;

  position: fixed;
  top: 0;

  background-color: $colorLight; 
  color: $textColorDark;

  

  #nav-logo {
    margin-left: 16px;

    flex-grow: 3;
    flex-shrink: 0;
    
    font-family: $playFair;
    font-weight: 700;

  }

  .nav-button {
    flex-grow: 1;
    flex-shrink: 0;
  }
}

#masthead {
  
  background: url('../images/tacos.jpeg');    
  background-position: center; 
  background-size: cover;
  background-blend-mode: darken;
  background-color: rgba(0,0,0,.4);

  
  #masthead-title {    
    padding: 0;
    font-size: 64px;
    font-family: $playFair;
    font-weight: 700;

    color: $colorLight;    
  }
   
   #masthead-subtitle {
    margin: 0;
    font-size: 36px;
    font-family: $openSans;
    color: $colorLight;    
  }
}

#menu {
  // overflow: hidden;
  // background-color: cadetblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f6f6f6;

  #menu-title {
    z-index: 1;
  }
  
  #menu-text {
    z-index: 1;
  }

  #menu-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;   
    flex-wrap: wrap;
 
  }

  .menu-item {
    @include high-shadow();
    border-radius: 3px;
    background-color: #fafafa;
    flex-grow: 1;    
    margin: 8px 4px 4px 4px;

    display: flex;
    flex-direction: column;

    .menu-item-image {
      flex-grow: 1;
      background: url('../images/tacos2.jpg');    
      background-position: center;
      background-size: cover;            
    }

    .menu-item-label {
      height: 2em;
    }
  }
}

#about {
  display: flex;
  flex-direction: row;
  align-items: stretch;  
  height: 50vh;

  #left {
    flex: 1 0;
  }
  #right {
    background: url('../images/mapa.png');
    background-size: cover;
    background-position: center;
    flex: 1 0;
  }
}

@media(orientation: portrait) {
  [cover] {
    height: 75vh;
  }
}

@media(max-width: 450px) {
  #masthead {
    #masthead-title {
      font-size: 40px;
    }
    #masthead-subtitle {
      font-size: 20px;
    }
  }
  .menu-item {
    min-width: 40vw;
    height: 20vh;
  }

  #about {
    height: 75vh;
    flex-direction: column;
    #left {
      flex-grow: 0;
    }
  }
}

@media(min-width: 760px) {
  #menu-container {
    width: 80%;
  }
  
  @media(orientation: portrait) {    
    #menu {
      height: 75vh;
    }      
    .menu-item {
      height: 20vh;
    }
  }

  @media(orientation: landscape) {    
    #menu {
      height: 75vh;
    }      

    .menu-item {
      min-width: 0;
      height: 30vh;
    }
    .menu-item-label {
      font-size: 2em;      
    }
  }
    
}


