$openSans: 'Open Sans', sans-serif;
$playFair: 'Playfair Display SC', serif;
$roboto: 'Roboto', sans-serif;

$colorDark: #3F3F3F;
$colorLight: #FBFBF2;
$textColorDark: #000000;

$darkBackground: #37474f;
$breakPointSmall: 450px;

@mixin high-shadow() {
  box-shadow: 0  2px 2.5px 0 rgba(0, 0, 0, 0.5);
}

[center] {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



body, html {
  margin: 0;
  padding: 0;
  font-family: $openSans;
  width: 100%;
  overflow-x: hidden;
}

body {
  scroll-behavior: smooth;
}

#nav {
  @include high-shadow;

  height: 64px;
  width: 100%;
  z-index: 2;

  display: flex;
  justify-content: space-around;
  align-items: center;

  position: fixed;
  top: 0;

  background-color: $colorLight; 
  color: $textColorDark;

  

  #nav-logo {
    margin-left: 16px;

    flex-grow: 3;
    flex-shrink: 0;
    
    font-family: $playFair;
    font-weight: 700;

  }

  .nav-button {
    flex-grow: 1;
    flex-shrink: 0;
  }
}

#masthead {
  height: 100vh;

  background: url('../images/tacos.jpeg');    
  background-position: center; 
  background-size: cover;
  background-blend-mode: darken;
  background-color: rgba(0,0,0,.4);

  @media(min-width: $breakPointSmall) {
    height: 75vh;
  }

  #masthead-title {    
    padding: 0;
    font-size: 64px;
    font-family: $playFair;
    font-weight: 700;

    color: $colorLight;    
  }
   
   #masthead-subtitle {
    margin: 0;
    font-size: 36px;
    font-family: $roboto;
    font-weight: 200;
    color: $colorLight;    
  }
  
  @media(max-width: $breakPointSmall) {
    #masthead-title {
      font-size: 40px;      
    }
    #masthead-subtitle {
      font-size: 20px;
    }
  }
}

#menu {
  background-color: $darkBackground;  
  color: $colorLight;      
  
  
  @media(orientation: portrait) and (max-width: $breakpointSmall) {
    height: 100vh;
  }

  @media(min-height: $breakPointSmall) {
    min-height: 75vh;
  }
  

  #menu-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    font-size: 20px;      
    margin: 0 8px;    

    h1 {
      font-size: 30px;      
      margin: 0;

      @media(min-width: $breakPointSmall) {
        font-size: 46px;      
        padding: 40px;
      }    
    }    

    @media(min-width: $breakPointSmall) {
      font-size: 25px;      
    }    
  }

  #menu-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    align-content: stretch;   
    flex-wrap: wrap;

    width: 100%;
    max-width: 900px; 
    margin: 0 auto;
  }

  .menu-item {
    border-radius: 3px;
    display: flex;
    flex-direction: column;

    .menu-item-image {
      flex: 1 0;
      background: url('../images/tacos2.jpg');    
      background-position: center;
      background-size: cover;            
    }

    .menu-item-label {
      height: 4em;
      background-color: $colorLight;
      color: black;
    }

    @media(max-width: $breakPointSmall) {
      height: 25vh;
      width: calc(50% - 8px);
      margin: 4px;              
    }
    @media(min-width: $breakPointSmall) {
      @include high-shadow();
      height: 300px;
      flex: 1 0;
      margin: 8px;              
    }
  }
}


#about {
  background-color: $darkBackground;      
  
  .card-container {
  width: 100%;
  max-width: 900px; 
  
  margin: auto;
  
  display: flex;
  flex-direction: column;
  align-items: stretch;  
  
  @include high-shadow();  
  background-color: #F5F5F5;
  color: black;
  
    #about-image {        
      background: url('../images/restaurante.jpeg');
      background-size: cover;    
      background-position: center;  
      min-height: 300px;
    }  

    #about-stack {
      display: flex;
      flex-direction: row;
      align-items: stretch;
      min-height: 30vh;

      @media(max-width: $breakPointSmall) {
        flex-direction: column;
      }

      #about-info {
        padding: 16px;
        flex: 1 1;

        h2 {
          color: #757575;
        }

        p {
          margin: 0;        
        }
      }
      
      #about-map  {
        background: url('../images/mapa.png');
        background-size: cover;
        background-position: center;
        flex: 1 0;
        min-height: 25vh;      
      }
    }
  }
}

footer {
  background-color: $darkBackground;
  color: #8a8a8a;
  padding: 16px;  
  height: 64px;
  text-align: center;
}
