<!DOCTYPE html>
<html>
<head>
<title>Test</title>

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Cookie|Open+Sans:300i|Playfair+Display+SC" rel="stylesheet">

<link href="./styles/main.css" rel="stylesheet">

</head>
<body>
  
<div id="nav">
  <div id="nav-logo">Bistrotacos</div>  
  <div class="nav-button">Menu</div>  
</div>

<section id="masthead" cover center> 
  <h1 id="masthead-title">Bistrotacos</h1>
  <h3 id="masthead-subtitle">Una experiencia Gastronomica</h3>
</section>  

<section id="menu" cover>  
  <div id="menu-back-panel">&nbsp;</div>
  <h1 id="menu-title">Conoce nuestro menu</h1>  
  <span id="menu-text">Complementa cualquier orden con salsas al gusto y tortillas refil.</span>
  <div id="menu-container">
    <div class="menu-item">
      <div class="menu-item-image">&nbsp;</div>
      <div class="menu-item-label">Carne</div>
    </div>
    <div class="menu-item">
      <div class="menu-item-image">&nbsp;</div>
      <div class="menu-item-label">Carne</div>
    </div>
    <div class="menu-item">
      <div class="menu-item-image">&nbsp;</div>
      <div class="menu-item-label">Carne</div>
    </div>
   <div class="menu-item">
      <div class="menu-item-image">&nbsp;</div>
      <div class="menu-item-label">Carne</div>
    </div>
  </div>
</section>

<section id="phrase-separator">
  <h1>Descubre el verdadero taco mexicano</h1>
  <span>Complementa cualquier orden con salsas al gusto y tortillas refil.</span>
</section>

<section id="about">
    <div id="left">
      <h2>Te estamos esperando.</h2>
    </div>
    <div id="right">
      &nbsp;
    </div>
</section>
</body>
</html>
