<!DOCTYPE html>
<html>
<head>
  <title>Test</title>
<link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Cookie|Open+Sans:300i|Playfair+Display+SC" rel="stylesheet">
<link href="./styles/main.css" rel="stylesheet"
</head>
<body>
  
<div id="nav">
  <div id="nav-logo">Bistrotacos</div>
  <div class="nav-button">Nosotros</div>
  <div class="nav-button">Menu</div>
  <div class="nav-button">Visitanos</div>
</div>

<section id="main"> 
  <h1 id="main-title">Bistrotacos</h1>
  <h3 id="main-subtitle">Una experiencia Gastronomica</h3>
</section>  

<section id="about">
  <h1>Descubre el verdadero taco mexicano</h1>
  <span>Complementa cualquier orden con salsas al gusto y tortillas refil.</span>
</section>

<section id="menu">
  <h1>Conoce nuestro menu</h1>
  <div class="horizontal">
     <div>
      <h2>Tacos</h2>
      <div>
        <h4>Especial</h4>
        <span>Combinacion de pastor y sirloin.</span>
      </div>
          <div>
        <h4>Especial</h4>
        <span>Combinacion de pastor y sirloin.</span>
      </div>
          <div>
        <h4>Especial</h4>
        <span>Combinacion de pastor y sirloin.</span>
      </div>
      
         <div>
        <h4>Especial</h4>
        <span>Combinacion de pastor y sirloin.</span>
      </div>
      
    </div>
    <div>
      <h2>Postres</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ultrices neque pellentesque lectus porta blandit. Suspendisse potenti. Fusce posuere in eros id molestie. Sed elementum vestibulum nisl. Nam et finibus nunc. Proin ornare, leo ultrices viverra sodales, orci nunc aliquet quam, et pulvinar orci turpis sit amet metus.
      </p>
    </div>
    </div>
    <!--<div id="left">
      <h2>title</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ultrices neque pellentesque lectus porta blandit. Suspendisse potenti. Fusce posuere in eros id molestie. Sed elementum vestibulum nisl. Nam et finibus nunc. Proin ornare, leo ultrices viverra sodales, orci nunc aliquet quam, et pulvinar orci turpis sit amet metus.
      </p>
    </div>
    <div id="right">
      <h2>title</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ultrices neque pellentesque lectus porta blandit. Suspendisse potenti. Fusce posuere in eros id molestie. Sed elementum vestibulum nisl. Nam et finibus nunc. Proin ornare, leo ultrices viverra sodales, orci nunc aliquet quam, et pulvinar orci turpis sit amet metus.
      </p>
    </div>-->
  </div>
</section>
<section id="about">
  <div class="horizontal">
    <div id="left">
      <h2>Te estamos esperando.</h2>
    </div>
    <div id="right" class="mapa">
      &nbsp;
    </div>
    </div>
</section>

<footer style="height: 64px;">
  Av Del estado
  Desarrollado por Prometeo Consulting Group
</footer>
</body>
</html>
