<!DOCTYPE html>
<html>
<head>
<title>Test</title>

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Cookie|Open+Sans:300i|Playfair+Display+SC" rel="stylesheet">

<link href="./styles/main.css" rel="stylesheet">

</head>
<body>
  
<div id="nav">
  <div id="nav-logo">Bistrotacos</div>  
  <div class="nav-button">Menu</div>  
</div>

<section id="masthead" cover center> 
  <h1 id="masthead-title">Bistrotacos</h1>
  <h3 id="masthead-subtitle">Una experiencia Gastronomica</h3>
</section>  

<section id="menu" cover>  
  <div id="menu-back-panel">&nbsp;</div>
  <h1 id="menu-title">Conoce nuestro menu</h1>  
  <span id="menu-text">Complementa cualquier orden con salsas al gusto y tortillas refil.</span>
  <div id="menu-container">
    <div class="menu-item">
      <div class="menu-item-image">&nbsp;</div>
      <div class="menu-item-label">
        <h3>Tacos</h3>
        </div>
    </div>
    <div class="menu-item">
 <div class="menu-item-image" style="background-image: url('./images/pan.jpeg">&nbsp;</div>
    <div class="menu-item-label">
      <h3>Pan</h3>
    </div>
    </div>
    <div class="menu-item">
      <div class="menu-item-image" style="background-image: url('./images/ensalada.jpeg">&nbsp;</div>
      <div class="menu-item-label">
        <h3>Ensalada</h3>
    </div>
    </div>
   <div class="menu-item">
  <div class="menu-item-image" style="background-image: url('./images/carne.jpeg">&nbsp;</div>
  <div class="menu-item-label">
   <h3>Carne</h3>
    </div>
    </div>
  </div>
</section>

<section id="place">
  <div id="place-image">&nbsp;</div>
</section>

<section id="about">
    <div id="a">
      <h2>Te estamos esperando.</h2>
      <h4>Horario: Todos los dias 7am a 12pm. </h4>
      <h4>+00 (000) 123-4567</h4>
      <h4>Av. Independencia 1223 Col. Revolucion</h4>
    </div>
    <div id="b">
      &nbsp;
    </div>
</section>
</body>
</html>
