<!DOCTYPE html>
<html>
<head>
<title>Test</title>

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Cookie|Open+Sans:300i|Playfair+Display+SC" rel="stylesheet">

<link href="./styles/main.css" rel="stylesheet">

</head>
<body>
  
<div id="nav">
  <div id="nav-logo">Bistrotacos</div>
  <div class="nav-button">Nosotros</div>
  <div class="nav-button">Menu</div>
  <div class="nav-button">Visitanos</div>
</div>

<section id="menu" cover>
  <div id="menu-back-panel">&nbsp;</div>
  <h1 id="menu-title">Conoce nuestro menu</h1>  
  <span id="menu-text">Complementa cualquier orden con salsas al gusto y tortillas refil.</span>

  <div id="menu-container">MENU</div>
</section>
</body>
</html>
