<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-tabs/paper-tabs.html">
<dom-module id="bistro-menu">
<template>
<style is="custom-style">

	:host {
		display: block;
		height: 100%;
		display: flex;
		flex-direction: column;
	}
	paper-tabs {
		flex-shrink: 0;
	}
	#menu {
		max-width: 900px;
		margin: auto;
		overflow-y: scroll;
	}

	.title {
		padding: 16px;
		color: #304040;
		font-family: 'Playfair Display SC', serif;
	}

	.card__separator {
		background-color: #F9794F;
		width: 100px;
		height: 2px;
		margin: 10px 0;
	}
	.card {
		overflow: hidden;
		display: inline-block;
		padding: 16px;
		font-family: 'Roboto', sans-serif;
		height: 250px;
		width: 45%;
		box-sizing: border-box;
	}

	.card__title {
		color: #263238;
		font-weight: 200;
		font-size: 24px;
		display: block;
		margin: 0;
	}

	.card__price {
		color: #263238;
		font-weight: 400;
		display: inline-block;
	}
	.card__desc {
		color: #263238;
		font-weight: 100;
		display: inline-block;
	}

	#tabs {
		--paper-tabs: {
				background: #37474f;
				color: white;
		}
		--paper-tabs-selection-bar-color: #F9794F;
		--paper-tabs-selection-bar:#F9794F;
		/*vs*/
	}

	@media(min-width: 450px) {
		.card {
			width: 31%;
		}
	}
</style>

<app-route
    route="{{route}}"
    pattern="/:selected"
    data="{{routeData}}"></app-route>


	<paper-tabs id="tabs" selected="{{routeData.selected}}"  attr-for-selected="name" noink>
		<paper-tab name="tacos">Tacos</paper-tab>
		<paper-tab name="ensaladas">Ensaladas</paper-tab>
		<paper-tab name="cortes">Cortes</paper-tab>
		<paper-tab name="postres">Postres</paper-tab>
	</paper-tabs>

	<h1 class="title">[[routeData.selected]]</h1>

	<div id="menu">
		&nbsp;

	<template is="dom-repeat" items="[[items]]">
		<div class="card">
			<div class="card__separator">&nbsp;</div>
			<span class="card__title">{{item.title}}</span>
			<span class="card__price">${{item.price}}</span>
			<span class="card__desc">{{item.desc}}</span>
		</div>
	</template>
	</div>
</template>
<script>
Polymer({
	is: 'bistro-menu',
	properties: {
		items: {
			type: Array,
			value: []
		},
		routeData: {
			type: Object,
			observer: '_setCategory'
		}
	},

	_loadItems: function(category) {
		let req = new XMLHttpRequest();

		req.onerror = err => {console.error(err)};
		req.onload = () => {
			let data = JSON.parse(req.responseText);
			this.set('items', data.menu);
		}

		req.open('GET', `/data/${category}.json`);
		req.send();
	},
	_setCategory: function(route) {
		if(!route.selected)
			this.set('routeData.selected', 'tacos');

		this._loadItems(route.selected);
	}
});
</script>
</dom-module>
