<link rel="import" href="../bower_components/polymer/polymer.html">

<dom-module id="bistro-home">
	<template>
		<section id="masthead" center>
			<h1 id="masthead-title">Bistrotacos</h1>
			<h3 id="masthead-subtitle">Una experiencia Gastronomica</h3>
		</section>
		<section id="menu">
			<div id="menu-text">
				<h1>Conoce nuestro menu</h1>
				<p>Desde tacos gourmet, hasta los mejores cortes. En Bistrotacos encontraras deleite.</p>
			</div>
			<div id="menu-container">
				<a href="/menu/tacos" class="menu-item">
					<div class="menu-item-image">&nbsp;</div>
					<div class="menu-item-label">
						<span>Tacos</span>
					</div>
				</a>
				<a href="/menu/ensaladas/" class="menu-item">
					<div class="menu-item-image" style="background-image: url('./images/ensalada.jpeg">&nbsp;</div>
					<div class="menu-item-label">
						<span>Ensaladas</span>
					</div>
				</a>
				<a href="/menu/cortes/" class="menu-item">
					<div class="menu-item-image" style="background-image: url('./images/carne.jpeg">&nbsp;</div>
					<div class="menu-item-label">
						<span>Cortes</span>
					</div>
				</a>
				<a href="/menu/postres/" class="menu-item">
					<div class="menu-item-image" style="background-image: url('./images/pan.jpeg">&nbsp;</div>
					<div class="menu-item-label">
						<span>Postres</span>
					</div>
				</a>
			</div>
		</section>
		<section id="filler">
			<div>
				<h2>Desde 1998, una empresa 100% mexicana. Con mira internacional</h2>
				<p>Llevando el sasón desde hace 3 generaciones, Bistrotacos continua cumpliendo su compromiso con platillos de talla mundial,
					sabores misticos y extravagantes.</p>
			</div>
		</section>
		<section id="about">
			<div class="card-container">
				<div id="about-image">&nbsp;</div>
				<div id="about-stack">
					<div id="about-info">
						<h2>Te estamos esperando.</h2>
						<p> <i class="material-icons">alarm</i> Todos los dias 7am a 12pm. </p>
						<p> <i class="material-icons">call</i> +00 (000) 123-4567</p>
						<p> <i class="material-icons">location_on</i> Av. Independencia 1223 Col. Revolucion</p>
					</div>
					<div id="about-map">
						&nbsp;
					</div>
				</div>
			</div>
		</section>
	</template>
	<script>
		Polymer({
			is: 'bistro-home'
		});
	</script>
</dom-module>
