<style is="custom-style">
 /*
 	small: 450px;
 */
	:root {
		--background-color-light: #FBFBF2;
		--font-color-light: #FBFBF2;
		--font-color-dark: #000000;
		--dark-background: #37474f;

		--break-point-small:  450px;
		--break-point-medium:  700px;

		--high-shadow: {
			  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
		}

		--super-shadow: {
			  box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.35);
		}

		--playfair-font: {
			font-family: 'Playfair Display SC', serif;
		}

			--font-roboto: {
			font-family: 'Roboto', sans-serif;
		}
	}
</style>
