[center] {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

body, html {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  width: 100%;
  overflow-x: hidden; }

body {
  scroll-behavior: smooth; }

#nav {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
  height: 64px;
  width: 100%;
  z-index: 2;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  background-color: #FBFBF2;
  color: #000000; }
  #nav #nav-logo {
    margin-left: 16px;
    flex-grow: 3;
    flex-shrink: 0;
    font-family: "Playfair Display SC", serif;
    font-weight: 700; }
  #nav .nav-button {
    flex-grow: 1;
    flex-shrink: 0; }

#masthead {
  height: 100vh;
  background: url("../images/tacos.jpeg");
  background-position: center;
  background-size: cover;
  background-blend-mode: darken;
  background-color: rgba(0, 0, 0, 0.4); }
  @media (min-width: 450px) {
    #masthead {
      height: 75vh; } }
  #masthead #masthead-title {
    padding: 0;
    font-size: 64px;
    font-family: "Playfair Display SC", serif;
    font-weight: 700;
    color: #FBFBF2; }
  #masthead #masthead-subtitle {
    margin: 0;
    font-size: 36px;
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    color: #FBFBF2; }
  @media (max-width: 450px) {
    #masthead #masthead-title {
      font-size: 40px; }
    #masthead #masthead-subtitle {
      font-size: 20px; } }

#menu {
  background-color: #37474f;
  color: #FBFBF2;
  min-height: 100vh; }
  @media (min-width: 450px) {
    #menu {
      padding: 16px; } }
  @media (max-width: 450px) {
    #menu {
      padding-bottom: 32px; } }
  #menu #menu-text {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    padding: 16px; }
    #menu #menu-text h1 {
      font-size: 30px;
      margin: 0;
      padding: 0; }
      @media (min-width: 450px) {
        #menu #menu-text h1 {
          font-size: 46px;
          padding: 40px; } }
    @media (min-width: 450px) {
      #menu #menu-text {
        font-size: 25px; } }
  #menu #menu-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    align-content: stretch;
    flex-wrap: wrap;
    max-width: 900px;
    margin: 0 auto; }
  #menu .menu-item {
    height: 50vh;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    transition: box-shadow 0.2s ease-in-out; }
    @media (max-width: 450px) {
      #menu .menu-item {
        margin: 8px;
        width: 100%; } }
    @media (min-width: 450px) {
      #menu .menu-item {
        box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
        flex: 1 0;
        margin: 8px; } }
    @media (max-width: 450px) and (orientation: portrait) {
      #menu .menu-item {
        height: 33vh; } }
    #menu .menu-item .menu-item-image {
      flex: 4 0;
      background: url("../images/tacos2.jpg");
      background-position: center;
      background-size: cover; }
    #menu .menu-item .menu-item-label {
      background-color: #fafafa;
      color: #37474f;
      padding: 8px;
      font-family: "Roboto", sans-serif;
      font-weight: 300;
      font-size: 25px; }
  #menu .menu-item:hover {
    box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.35); }

#about {
  background-color: #37474f; }
  @media (min-width: 450px) {
    #about {
      padding: 16px; } }
  #about .card-container {
    width: 100%;
    max-width: 900px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
    color: black; }
    #about .card-container #about-image {
      background: url("../images/restaurante.jpeg");
      background-size: cover;
      background-position: center;
      min-height: 50vh; }
    #about .card-container #about-stack {
      display: flex;
      flex-direction: row;
      align-items: stretch;
      min-height: 30vh; }
      @media (max-width: 450px) {
        #about .card-container #about-stack {
          flex-direction: column; } }
      #about .card-container #about-stack #about-info {
        padding: 16px;
        flex: 1 1; }
        #about .card-container #about-stack #about-info h2 {
          color: #757575; }
        #about .card-container #about-stack #about-info p {
          margin: 0; }
      #about .card-container #about-stack #about-map {
        background: url("../images/mapa.png");
        background-size: cover;
        background-position: center;
        flex: 1 0;
        min-height: 25vh; }

footer {
  background-color: #37474f;
  color: #8a8a8a;
  padding: 16px;
  height: 64px;
  text-align: center; }
